body {
    direction: rtl;
    background-color: #94B4C1;
    box-shadow: 0 0 4px #9494a9;
    border-radius: 5px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin:0 auto;
    padding: 0;
    margin-top: 50px;
    width: auto;
}

header.site-header {
    background: #547792;
    padding: 4px 16px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    z-index: 999;
}

/* הכותרת העליונה */
h1 {
    margin: 20px;
    color:#EAE0CF
}

/* כותרות משניות*/
h2 {
    border-bottom: 1px solid #333333;
    margin: 16px;
    padding-bottom: 8px;
    color: #1f2937;
}

h3 {
    border-bottom: 1px solid #333333;
    margin: 16px;
    padding-bottom: 8px;
    color: #1f2937;
}
.frame {
    width: 80%;
    max-width: 900px;
    min-height: 300px;
    background-color: #EAE0CF;
    margin: auto;
    padding: 8px 16px;
    border-radius: 6px;
}

p{
    font-size: 25px;
    margin-top: 200px;
}

.logo::after {
    content: 'MR';
    font-size: 50px;
    font-style: bold;
}

/* עריכת התפריט */
.navbar {
    margin-left: 100px;
    background-color: #1f2937;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
}

.nav-list li {
    margin-inline: 10px;
}

.nav-list a {
    display: block;
    padding: 16px 12px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s;
}

.nav-list a:hover {
    background-color: #374151;
    color: #e5e7eb;
    border-radius: 5px;
}

.nav-list a.active {
    border-bottom: 3px solid #0077d8;
}
/**/

.list{
    position: relative;
    padding: 2rem;
    min-height: 600px;
}
#avatar>img{
    width: 300px;
    height: 300px;
    z-index: 1;
    float: right;
}
.list>div {
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.list li {
    font-size: 22px;
}

ol:last-child {
    list-style-type: hebrew;
}


#priority>div {
    display: flex;
    padding: 0 16px;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

#priority>div div {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    background-color: #EAE0CF;
}

#priority>div div:hover {
    background-position: top;
    scale: 1.1;
    box-shadow: 0 0 10px #9494a9;
}

#example {
    text-decoration: none;
    font-size: 25px;
    color: #1f2937;
}

/* הגדרות הפוטר */
footer {
    margin-top: 50px;
    border-color: #333333;
    border-radius: 5px;
    display: inline-block;
}
#platforms>img{
    height: 120px;
    width: 60x;
    object-fit: cover;
    margin: 10px;
}
footer ul{
    list-style-type: none;
    display: flex;
    border-radius: 5px;
    justify-content: space-evenly;
}
footer ul button{
    border-radius: 5px;
    border-style: solid;      
    height: 35px;
    width: 35px;
    margin-left: 45px;
    background-color: #EAE0CF;
}
