@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

body {
    direction: rtl;
    font-family: "Secular One", sans-serif;
    background-color: #8300c0;
    padding-bottom: 200px;
}

h1 {
    text-align: center;
    color: white;
}

.frame {
    width: 80%;
    max-width: 900px;
    min-height: 300px;
    background-color: #ffffffc9;
    margin: auto;
    padding: 8px 16px;
    border-radius: 6px;
}

h2 {
    padding: 8px;
    border-bottom: 1px solid rgb(197, 197, 197);
    color: #4d4d4d;
}

.frame div {
    background-color: #ffdf71;
    padding: 16px;
    border-radius: 6px;
    max-width: 400px;
}

.maxHeight {
    height: 200px;
}

.maxHeight2 {
    height: 200px;
    overflow: hidden;
}

.maxHeight3 {
    height: 200px;
    /* overflow: scroll; */
    overflow: auto;
}